@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Oswald');


body{
	background-image: url(../img/bg.jpg);
    background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.vody{
	background-color: #eee;
}

.contieneinfo{
	
	width: 90%;
	margin: auto;
	background-color: transparent;
	margin-bottom: 130px;
	font-family: 'Anton', sans-serif;

}



.formulario_ingreso_pro{
	position: absolute;
	left:20px;
}

.infotop{
	font-size: 12px;
	font-family: 'Anton', sans-serif;
}

.contieneinfo ul li {
	
	display: inline;
	
	padding-bottom: 10px;
}

.titulosda{
	text-align: center;
	font-family: 'Oswald', sans-serif;
	color: #fff;
	background-color: #000;
	font-size: 10px;
	margin-bottom: 10px;
	text-decoration: none;
}

.titulosda2{
	font-size: 120px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	color: #fff;
	background-color: #000;
	font-size: 10px;
	margin-bottom: 10px;
	text-decoration: none;
}



.col1{
	position: fixed;
	height: 100px;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	padding-bottom: 10px;
	padding-top: 10px;
	height: auto;
	text-align: right;
	background-color: #fff;
	font-family: 'Oswald', sans-serif;
	border-bottom: 1px solid orange;
	
	
	
}




.col1 li{
	text-decoration: none;
	list-style: none;
	padding: 15px;
	font-family: 'Anton', sans-serif;
	letter-spacing: .2px;
	color: #000	
}

.col1 ul img {
width: 12%;
position:fixed;
top: 5px;
left: 26px;
}
.select{
	width: 50%;	
	height: 100%;
	text-decoration: none;
	font-family: 'Open Sans Condensed', sans-serif;
	letter-spacing: 0px;	
	color: #777;
	text-transform: uppercase;
}



.col3{
	
	width: 40%;
	padding-left: 55px;
	margin-right: 0;
	height: auto;
	padding-top: 30px;
	float: right;

}

.btn{
	margin-left: 10px;
	
}

.contenedor{
	position: absolute;
	border: 0px solid rgba(0,0,0, 0.2);
	top: 70px;
	width: 100%;
	margin: auto;
	height: auto;
	padding: 4px;
	overflow: hidden;
}



.bajada  {
	
	color: #999;
	border-bottom: 1px solid #555;
	width: 210px;

	font-family: "Anto";
	font-weight: lighter;
	
	
}
.selectposicion{

	position: absolute;
	left: -160px;
}

.selectposicion2{

	position: relative;
	left: 0px;
}

.separa{
	margin-top: 20px;
	margin-bottom: 30px; 
}
.acheuno{ 

	font-family: "Oswald";
	color: #333;
	margin-left: 10px;
	text-align: left;
	font-size: 25px;
	letter-spacing: 1px;
	text-transform: uppercase;}


	.muestroprod {
	margin-bottom: 30px;
	position: relative;;
	left: 10px;
	width: 90%;

    
}

.muestrotabla{
	
	width: 90%;
	margin: auto;
	background-color: transparent;
	padding: 6px;	
}


.muestroprod input {
	
	color: #000;
	
}
.separa2{
	margin: 30px;
}

.titulopro{
	color: #555;
	
}

.botonpro td button{
	position: absolute;
	left: 350px;
	width: 150px;
}



.muestroprod h1{
	
	color: white;
	margin-bottom: 40px;
	text-transform: uppercase;
	
}
.btnSdaAdd{
	position: relative;
	left: 4%;
	bottom: 20px;
	z-index: 1;
	margin-bottom: 20px;
	background-color: transparent;
}

.muestroprod td a button i {
	
	 list-style-type: none;
	
}

.muestroprod tr th {
	
	text-align: center;
	font-size: 15px;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	text-transform: uppercase;
	color: #999;
	background-color: #555;
	border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
	
}

.centrar{
    width:100%;
	height: auto;
	font-family: "Oswald", sans-serif;
	font-size: 22px;
	display: flex;
	justify-content: center;
	
	
}

.centrar form{
   text-align: left;
   color: #666;
   font-family: "Oswald", sans-serif;
   font-size: 20px;
	
	
}

.muestroprod  th:hover{
	
	background-color: #383747;
	
}


.muestroprod  tr td{
	
	text-align: left;
	border-top-style: none;
    border-left-style: none;
    border-right-style: none;
	font-family: 'Oswald', sans-serif;
	letter-spacing: .5px;
	font-weight: lighter;
	font-size: .9em;
	padding: 10px;
	border-bottom: 1px solid #383747;
	color: #000;
}




.muestroprod table tr:hover {
  background-color: rgba(66, 66, 66, 0.4);
  color: white;

  
}


.buscarpro{
	
	padding-top: 0px;
	-webkit-transition: 0.2s ease;
  transition:  0.2s ease;
	

}
.buscarpro input{
	font-size: 20px;
	font-family: "Lato";
	width: 60%;
	-webkit-transition: width 0.6s 0.15s;
  transition:  0.6s 0.15s;
	

}



.buscarpro input:focus{
	padding: 20px;
	font-size: 20px;
	font-family: "Lato";
	color: white;
	width: 60%;
	background-color: #c1c1c1;
	

}

.form-control{
	color: #ccc;
	font-family: "Anto";
}



.menu{
	width: 20%;
	margin-top: 1%;
	height: auto;
	background-color: #212F3C;
	float: left;
	overflow: hidden;
	border: 1px solid #fff;
	
	
	
}
.menu h1{
	font-size: 15px;
	color: #fff;
	text-transform: uppercase;;
	font-family: 'Arial', sans-serif;	
	background-color: #2C3E50;
	margin-top: 0;
	padding: 12px;
	
	
}


.menu ul {
	width: 100%;
	font-size: 1.1em;
	padding: 0px 0px 20px 0px;
	background-color: #ddd;
	font-family: 'Arial', sans-serif;	
	text-transform: uppercase;
	text-decoration: none;
	list-style: none;
	color: #000;

	

}


.menu ul li:hover {
	
	
	background-color: #1C7883;
	font-family: 'Lato', sans-serif;	
	text-decoration: none;
	list-style: none;
}
nav{
	width: 100%;
	background-color: #ddd;

	
	
	
}
.menu ul li {
	
	width: 100%;
	padding: 10px;
	font-family: 'Lato', sans-serif;	
	
	
}
.menu ul li a{
	padding: 0px 0px 20px 0px;
	font-size: bold;
	overflow: hidden;
	width: 100%;
	background-color: transparent;
	color: #000;
	font-size: 13px;
	letter-spacing: .3px;
	font-family: 'Lato', sans-serif;	
}

.menu ul li a:hover{
	
	padding: 0px 0px 20px 0px;
	color: #fff;
	width: 100%;
	letter-spacing: .3px;
	background-color: transparent;
	text-decoration: none;
	font-family: 'Lato', sans-serif;	
	
	
	
}
.cssLabel
{
	
	font-size: 1em;
	text-align: center;
	padding: 5px;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #777;
}








