@media screen and (max-width: 480px) {
   

.titulo{
	
	height: auto;
	padding-bottom: 20px;
	text-align: center;
}

.titulo h1{
	background-color: rgba(255,0,0, 0.2);
	color: #fff;
	font-family: "Roboto";
	font-size: 1.5em;
	padding: 10px;
	
}	
	
	.titulo img{
	display: none;
}
	
.contieneinfo{
	
	width: 90%;
	margin: auto;
	height: auto;
	background-color: #ccc;
}

.col1{
	width: 100%;
	float: left;
	height: auto;
	text-align: left;
	color: #999;
	background-color: rgba(0,0,0, 0.7);
	margin-bottom: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	
}

.col1 li{
	text-decoration: none;
	list-style: none;
	font-family: "Oswald";
	letter-spacing: .5px;
	
	
	
}




.col2{
	width: 100%;
	background-color: transparent;
	height: 30px;
	top: 20px;
	float: left;
	
	

}

.col3{
	
	width: 100%;
	
	height: auto;
	top: 20px;
	margin-bottom: 20px;
	float: right;

}

	

	
	
.contenedor{
	width: 100%;
	height: auto;
	background-color: #000;
	
}


.menu{
	display: none;
	
}

.contenido{
	margin-top: 5%;
	
	width: 108%;
	height: auto;
	background-color: white;	
}
	
	.muestroprod{
	
	width: 100%;
	height: auto;
	margin: auto;
}

.muestroprod  th{
	text-align: left;
	background-color: cornflowerblue;
	padding: 7px;
	color: #fff;
}
	
	
}